<!DOCTYPE html>
<body>
    <div>
        <h2>WELCOME TO ADMIN DASHBOARD!!!!</h2>
        <hr>
        <h4>User ID: <%= user.userId %></h4>
        <h4>Name: <%= user.name %></h4>
        <h4>Email: <%= user.email %></h4>
        <h4>Role: <%= user.role %></h4>
    </div>
</body>
</html>