<!DOCTYPE html>
<body>
    <div>
        <h1>LOGIN FORM</h1>
        <form method="post" action="/">
            Email:
            <input type="text" name="email" required>
            Password:
            <input type="password" name="password" required>
            <button type="submit">Login</button>
            <a href="/signup">Signup</a>
        </form>
    </div>
</body>
</html>