<!DOCTYPE html>
<body>
    <div>
        <h1>SIGN UP FORM</h1>
        <form method="post" action="/signup">
            Email:
            <input type="text" name="email" required>
            Password:
            <input type="password" name="password" required>
            <button type="submit">Signup</button>
            <a href="/">Login</a>
        </form>
    </div>
    
</body>
</html>